<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GroupsIn3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D2D2CA01F267049002201BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D2D2CBA1F26704A002201BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D2D2CC51F26704A002201BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
